# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [3]:
data = pd.read_csv('customer_product_sales.csv')

In [31]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [7]:
df = data.groupby(['CustomerID', 'ProductName']).agg({'Quantity': 'sum'})
df

                                          Quantity
CustomerID ProductName
33         Apricots - Dried                      1
           Assorted Desserts                     1
           Bandage - Flexible Neon               1
           Bar Mix - Pina Colada, 355 Ml         1
           Beans - Kidney, Canned                1
...                                            ...
98200      Vol Au Vents                         50
           Wasabi Powder                        25
           Wine - Fume Blanc Fetzer             25
           Wine - Hardys Bankside Shiraz        25
           Yogurt - French Vanilla              25

[63628 rows x 1 columns]

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

 pandas.pivot_table(data, values=None, index=None, columns=None, aggfunc='mean', 
                    fill_value=None, 
                    margins=False, dropna=True, margins_name='All', 
                    observed=False)[source]

In [10]:
matrix = pd.pivot_table(df, values='Quantity', index='ProductName', 
                        columns='CustomerID', fill_value=0)
matrix

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0,0,0,0,0,0,0,1,0,0,...,0,25,0,0,0,0,0,0,0,0
"Appetizer - Mini Egg Roll, Shrimp",0,0,0,0,0,0,0,0,0,0,...,25,25,0,0,0,0,0,0,0,0
Appetizer - Mushroom Tart,0,0,0,0,0,0,0,1,0,0,...,25,0,0,0,0,0,0,0,25,0
Appetizer - Sausage Rolls,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,25,25,25,0,25,0
Apricots - Dried,1,0,0,0,1,0,0,0,0,0,...,0,25,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yeast Dry - Fermipan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,25,0,0,0,0,0,0
Yoghurt Tubes,0,0,0,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,25,0,0
"Yogurt - Blueberry, 175 Gr",0,1,0,0,0,0,0,0,0,0,...,25,0,0,25,0,0,0,0,0,0
Yogurt - French Vanilla,1,0,0,1,0,0,2,0,0,1,...,0,0,25,0,0,0,0,0,0,25
Zucchini - Yellow,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
matrix.T

ProductName,Anchovy Paste - 56 G Tube,"Appetizer - Mini Egg Roll, Shrimp",Appetizer - Mushroom Tart,Appetizer - Sausage Rolls,Apricots - Dried,Apricots - Halves,Apricots Fresh,Arizona - Green Tea,Artichokes - Jerusalem,Assorted Desserts,...,"Wine - White, Colubia Cresh","Wine - White, Mosel Gold","Wine - White, Schroder And Schyl",Wine - Wyndham Estate Bin 777,Wonton Wrappers,Yeast Dry - Fermipan,Yoghurt Tubes,"Yogurt - Blueberry, 175 Gr",Yogurt - French Vanilla,Zucchini - Yellow
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
200,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
264,0,0,0,0,0,1,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
356,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
412,0,0,0,0,1,0,0,0,0,0,...,0,1,1,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0,0,0,25,0,50,0,25,0,0,...,0,25,25,0,0,0,0,0,0,0
98069,0,0,0,25,0,25,0,0,0,25,...,0,0,0,0,0,0,0,0,0,0
98159,0,0,0,0,0,0,0,0,0,0,...,0,50,0,0,0,0,25,0,0,0
98185,0,0,25,25,0,25,0,0,0,0,...,0,0,0,25,0,0,0,0,0,0
98200,0,0,0,0,0,25,25,0,0,25,...,0,0,0,0,0,0,0,0,25,0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [16]:
distancias = squareform(pdist(matrix.T, 'euclidean'))
distancias.shape

(1000, 1000)

In [19]:
similitud = pd.DataFrame(1/(1+distancias), index=matrix.columns, columns=matrix.columns)
similitud

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.004515,0.004521,0.004543,0.004526,0.004530,0.004533,0.004534,0.004526,0.004528,0.004523,...,0.003509,0.003509,0.003300,0.003653,0.003579,1.000000,0.003638,0.003418,0.003255,0.003245
98069,0.004583,0.004614,0.004595,0.004578,0.004578,0.004578,0.004589,0.004581,0.004585,0.004592,...,0.003509,0.003509,0.003369,0.003509,0.003496,0.003638,1.000000,0.003469,0.003345,0.003381
98159,0.004355,0.004367,0.004365,0.004365,0.004367,0.004363,0.004366,0.004363,0.004369,0.004365,...,0.003509,0.003565,0.003322,0.003431,0.003322,0.003418,0.003469,1.000000,0.003277,0.003266
98185,0.004167,0.004166,0.004179,0.004175,0.004177,0.004167,0.004168,0.004176,0.004172,0.004161,...,0.003311,0.003162,0.003255,0.003406,0.003172,0.003255,0.003345,0.003277,1.000000,0.003288
98200,0.004333,0.004335,0.004333,0.004339,0.004349,0.004347,0.004338,0.004335,0.004329,0.004347,...,0.003418,0.003345,0.003381,0.003444,0.003288,0.003245,0.003381,0.003266,0.003288,1.000000

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [23]:
#veamos al 33, el primer consumidor

similitud.iloc[0,:].sort_values(ascending=False)[:6]

#Vemos que se le parecen mucho esos consumidores: 264, 3535,3317,2503,3305.

CustomerID
33      1.000000
264     0.087047
3535    0.087047
3317    0.087047
2503    0.085983
3305    0.085638
Name: 33, dtype: float64

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [33]:
data2 = data.copy()
data2.index = data.CustomerID
data2.drop(columns='CustomerID', inplace=True)
data2.head()

,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
CustomerID,,,,,,
61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

In [29]:
parecidos = similitud.iloc[0,:].sort_values(ascending=False)[:6].index
top_5 = df.loc[parecidos]
top_5 #con esto sale

                                           Quantity
CustomerID ProductName
33         Apricots - Dried                       1
           Assorted Desserts                      1
           Bandage - Flexible Neon                1
           Bar Mix - Pina Colada, 355 Ml          1
           Beans - Kidney, Canned                 1
...                                             ...
3535       Tray - 16in Rnd Blk                    1
           Wanton Wrap                            1
           Wine - Blue Nun Qualitatswein          1
           Wine - Magnotta, Merlot Sr Vqa         1
           Yoghurt Tubes                          1

[329 rows x 1 columns]

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [30]:
parecidos = similitud.iloc[0,:].sort_values(ascending=False)[:6].index
parecidos

Int64Index([33, 264, 3535, 3317, 2503, 3305], dtype='int64', name='CustomerID')

In [50]:
#creÃ­ que quizÃ¡ habrÃ­a un error entonces lo hice de forma mÃ¡s larga, pero ese es el
#resultado.

df2 = data2.groupby(['CustomerID', 'ProductName'], as_index=False).agg({'Quantity': 'sum'})
q6 = df2.loc[parecidos]
q6 = q6.sort_values(by=['Quantity'], ascending=False)
q6

                               ProductName  Quantity
CustomerID
3535                       Fondant - Icing         2
3317         Wine - Wyndham Estate Bin 777         2
3305           Soup Knorr Chili With Beans         2
33                            Phyllo Dough         1
264                     Cheese - Camembert         1
2503        Bread - Italian Corn Meal Poly         1

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [ ]:
#Vamos por pasos 
"""
No entendÃ­ tan bien lo de combinar las matrices y data frames.
Si solo filtro en q6 para index distintos de 33, ya puedo ver los productos. 
"""

In [60]:
filtered= q6.index.map(lambda x: x if x!= 33 else 0)
q6.loc[filtered][:6]

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike

                               ProductName  Quantity
CustomerID
3535                       Fondant - Icing       2.0
3317         Wine - Wyndham Estate Bin 777       2.0
3305           Soup Knorr Chili With Beans       2.0
0                                      NaN       NaN
264                     Cheese - Camembert       1.0
2503        Bread - Italian Corn Meal Poly       1.0

In [44]:
#Primero: encontrar los productos que el consumidor 33 sÃ­ ha comprado y ponerlos
#en una lista

lista_33 = df2.loc[33]
lista_33 = lista_33.index
lista_33 #estos son los productos que ha consumido mi consumidor elegido

Index(['Apricots - Dried', 'Assorted Desserts', 'Bandage - Flexible Neon',
       'Bar Mix - Pina Colada, 355 Ml', 'Beans - Kidney, Canned',
       'Beef - Chuck, Boneless', 'Beef - Prime Rib Aaa',
       'Beer - Original Organic Lager', 'Beer - Rickards Red',
       'Black Currants', 'Blackberries', 'Bread - Italian Roll With Herbs',
       'Bread Foccacia Whole', 'Cake - Box Window 10x10x2.5', 'Cassis',
       'Cheese - Cottage Cheese', 'Crab - Imitation Flakes', 'Fondant - Icing',
       'French Pastry - Mini Chocolate', 'General Purpose Trigger',
       'Grapes - Red', 'Grouper - Fresh', 'Hersey Shakes',
       'Ice Cream Bar - Drumstick', 'Lamb - Pieces, Diced',
       'Lettuce - Spring Mix', 'Mangoes', 'Muffin Batt - Choc Chk',
       'Onions - Vidalia', 'Pasta - Cheese / Spinach Bauletti',
       'Pate - Cognac', 'Pepper - Black, Whole', 'Pepper - White, Ground',
       'Phyllo Dough', 'Pork - Bacon, Double Smoked',
       'Pork - Hock And Feet Attached', 'Potatoes - Idaho 100 Count',
       'Quiche Assorted', 'Rum - Coconut, Malibu', 'Salsify, Organic',
       'Sauce - Demi Glace', 'Smoked Paprika', 'Soupfoamcont12oz 112con',
       'Squid - Tubes / Tenticles 10/20', 'Sword Pick Asst', 'Tahini Paste',
       'Towels - Paper / Kraft', 'Tuna - Salad Premix', 'Vaccum Bag 10x13',
       'Veal - Eye Of Round', 'Veal - Inside, Choice', 'Veal - Sweetbread',
       'Water - Green Tea Refresher', 'Wine - Crozes Hermitage E.',
       'Wine - Gato Negro Cabernet', 'Wine - Sogrape Mateus Rose',
       'Wine - Two Oceans Cabernet', 'Wine - Valpolicella Masi',
       'Yogurt - French Vanilla'],
      dtype='object', name='ProductName')

In [ ]:
q6

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.